{% extends 'base.html'%}
{%load static%}
{%block content%}
<div class="row">
	<div class="col-md-8 d-flex justify-content-center">
	    <img class="img-responsive center-block" src="{% static '/image/clinic.jpg'%}" style="height:80%; width:80%;"
	                 alt="7 day psychology centre">
	</div>
	<div class="col-4" style="padding: 2vw">
		<p>Established in 2010 and located in the inner west, the 7 Day Psychology Centre is a network of
	            experienced
	            clinical psychologists providing total help for the individual, the partner and the parent.<br>
	        Our clinical psychologists have expertise in adult, adolescent and child disorders. They are all trained in
	        treating depression and anxiety disorders and specialise in a variety of other areas.

	        All our clinical psychologists are registered with the Psychology Board of Australia and endorsed for
	        clinical psychology as an approved area of practice.
	        </p>
	</div>
</div>

{%endblock%}