{%extends 'base.html'%}
{%block content%}
<div class="row" style="padding: 10vw;">
	<div class="col-3">
		<h3>Contact Counsellors</h3>
		<p>You can directly contact counsellors to the contact numbers provided on the
		counsellors page and book your appoinment.</p>
	</div>
	<div class="col-3">
		<h3>Email Us</h3>
		<p>You can send any queries or issues to 7day-psychology@hotmail.com</p>
	</div>
	<div class="col-4">
		<h3>General Correspondance</h3>
		<p>Any general correspondance should be addressed to The Management 7 
		Day Psychology Centre Suit 12 10 Park Road Auburn, NSW 2144</p>
	</div>
</div>

{%endblock%}