{%extends 'base.html'%}
{%load static%}
{%block header%}
{%endblock%}
{%block style%}
<script type="text/javascript" src="{% static '/js/jquery.dataTables.min.js'%}"></script>
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script type="text/javascript"  src="{% static '/js/jquery-ui.min.js'%}"></script>-->
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.min.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static '/css/style-counsellor.css'%}">
{%endblock%}
{%block content%}
<div id="page-content-wrapper-table">
    <div class="page-content">
        <div class="container-fluid">
            <form method="POST" class="post-form" >{% csrf_token %}
                <div class="row title-head">
                    <div class="col-md-12">
                        <div class="title-line">
                            <span class="page-name">Do you want to cancel your appointment with the following details?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-style" id="counsellorTable">
                            <thead>
                            <tr class="row-bg">
                                <th>SN.</th>
                                <th>Client Name</th>
                                <th>Booking Date</th>
                                <th>Booking Time</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>1.</td>
                                <td>{{object.client.name}}</td>
                                <td>{{object.appointmentDate}}</td>
                                <td>{{object.appointmentTime}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-danger btn-lg" name="Yes" value="Yes">
                        <a href="{% url 'counsellor:my-appointments'%}">
                              <button class="btn btn-success btn-lg" title="Cancel" type="button">CANCEL</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
