{%extends 'base.html'%}
{%load static%}
{%block header%}
{%endblock%}
{%block style%}
<script type="text/javascript" src="{% static '/js/jquery.dataTables.min.js'%}"></script>
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script type="text/javascript"  src="{% static '/js/jquery-ui.min.js'%}"></script>-->
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.min.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static '/css/style-counsellor.css'%}">
{%endblock%}
{%block content%}
<div id="page-content-wrapper-table">
    <div class="page-content">
        <div class="container-fluid">
			<div class="row title-head">
                <div class="col-md-12">
                    <div class="title-line">
                        <span class="page-name">{{counsellor.name}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-style" id="counsellorTable">
                        <thead>
                        <tr class="row-bg">
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Username: </td>
                            <td>{{counsellor.username}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number: </td>
                            <td>{{counsellor.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td>{{counsellor.address}}</td>
                        </tr>
                        <tr>
                            <td>Email ID: </td>
                            <td>{{counsellor.email}}</td>
                        </tr>
                        <tr>
                            <td>Educations: </td>
                            <td>{{counsellor.education}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{%url 'counsellor:edit-counsellor' id=counsellor.id%}">
                                <button class="btn btn-primary btn-lg" title="Submit" type="button">UPDATE PROFILE</button>
                            </a>

                                    <a href="{%url 'counsellor:counsellor-login'%}">
                                          <button class="btn btn-success btn-lg" title="back" type="button">GO BACK</button>
                                    </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}




