{%extends 'base.html'%}
{%load static%}
{%block header%}
{%endblock%}
{%block style%}
<script type="text/javascript" src="{% static '/js/jquery.dataTables.min.js'%}"></script>
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script type="text/javascript"  src="{% static '/js/jquery-ui.min.js'%}"></script>-->
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.min.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static '/css/style-counsellor.css'%}">
{%endblock%}
{%block content%}
<div id="page-content-wrapper-form">
    <div class="page-content">
        <div class="container-fluid">
            {%if messages%}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {%endif%}
             <form method="POST" class="post-form">{% csrf_token %}
                <div class="row title-head">
                    <div class="col-md-12">
                        <div class="title-line">
                            <span class="page-name">Change Password</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-6">
                                <div>
                                    <label>New Password</label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="password" class="form-control input-text" id="newPassword" name="newPassword"
                                           onchange="check()"   value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label>Confirm Password</label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="password" class="form-control input-text" id="password" name="password"
                                           value="" required onkeyup="check()">
                                </div><label id="checkStatus"></label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <a href="{%url 'systemAdmin:admin-update-password'%}"><button class="btn btn-lg btn-primary" title="Submit" type="submit">SUBMIT</button></a>
                            <a href="{%url 'systemAdmin:admin-logIn'%}">
                                          <button class="btn btn-success btn-lg" title="Cancel" type="button">CANCEL</button>
                            </a>
                        </div>
                        <!-- ends here -->
                    </div>
                </div>
        </div>
    </div>
</div>
{%endblock%}
{%block footer%}
<script>
    $(".update").click(function(){
    $("#checkStatus").text("")
            var newPass = $("#newPassword").val();
            var confirm = $("#password").val();
            if (newPass == confirm) {
                $("#checkStatus").text("Password match!!")
                $("#checkStatus").css("color", "green");
                return true

            } else {
                $("#checkStatus").text("Password didn't match!!");
                $("#checkStatus").css("color", "red")
                $("#newPassword").val("");
                $("#password").val("");
                return false

            }
     });

</script>
{%endblock%}
