{%extends  'base.html'%}

{%block content%}
<h3 style="color: blue; text-align: center; ">Create a new counsellor</h3>
<div class="row col-md-12"> 
    <div class="col-md-4 offset-md-4">
        {{error}}
        <form method='POST'> {%csrf_token%}
            <table>
                {{form.as_table}}
            </table>
            <input type='submit' class="btn btn-success" value='Save'/>
        </form>

    </div>
    <div class="row">
                <a href="{%url 'counsellor:all-counsellor-list'%}">
                    <button class="btn btn-success btn-lg" title="back" type="button">GO BACK</button>
                </a>
            </div>

</div>

{% endblock%}
