{%extends 'base.html'%}
{%load static%}
{%block header%}
{%endblock%}
{%block style%}
<script type="text/javascript" src="{% static '/js/jquery.dataTables.min.js'%}"></script>
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script type="text/javascript"  src="{% static '/js/jquery-ui.min.js'%}"></script>-->
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.dataTables.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.min.css'%}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static '/css/style-counsellor.css'%}">
{%endblock%}
{%block content%}
<div id="page-content-wrapper-table">
    <div class="page-content">
        <div class="container-fluid">
            <form method="POST" class="post-form" >{% csrf_token %}
                <div class="row title-head">
                    <div class="col-md-12">
                        <div class="title-line">
                            <span class="page-name">Do you want to delete following shift?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
							<p style="font-size:30px;">{{object.workhoursFrom}}-To-{{object.workhoursTo}}</p>
						</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-danger btn-lg" name="Yes" value="Yes">
                        <a href="{% url 'systemAdmin:list-workhours'%}">
                              <button class="btn btn-success btn-lg" title="Cancel" type="button">CANCEL</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}


